.container{
    background-color: #DCDCDC;
    width: 562px;
    
    text-align: center;
    
    }
.picture{
    width: 159.24px;
    height: 146,57px;
    margin-top: 10%;
    text-align: center;
    width: 100%;
}    
.text{
    text-align: center
}
p{
    width: 476px;
    height: 311px;
    padding-top: 20px;
    display: inline-block;
}